<!DOCTYPE html>
<html>
<head>
    <title>Upload</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
</head>
<body>
<div class="container mt-5">

    <div class="row">
        <div class="col-6 offset-md-2">
            <form action="/upload"
                  method="POST" enctype="multipart/form-data">
                {% for file in form %}
                {{ file }}
                {% endfor %}
                <input type="submit" value="Upload!">
            </form>
        </div>
    </div>
</div>
</body>
</html>